{% extends 'base.html' %}
{% block title %}
{{ super() }}
{{ title }}
{% endblock %}
{% block content %}
<!-- Header -->
    <header class="header">
        <div class="overlay">
            <div class="container">
                <div class="description">
                    <h1>Добро пожаловать на Остров Сокровищ
                        <p>&nbsp;</p>
  		                <p>Мы рады приветствовать Вас на необитаемом острове, затерянном где-то в океане!</p>
                        <p>Именно на этом острове капитан Флинт давным-давно закопал свой клад.</p>
                        <p>Вы готовы пуститься на их поиски? Тогда вперёд, не стоит терять ни минуты!</p>
                        <p>Но, будьте осторожны. Похоже что Вы не одни на этом острове,
                            кровожадные пираты тоже каким-то образом разузнали про сокровища Флинта и жаждут их найти во что бы то ни стало.</p>
                        <p>Не попадитесь им на глаза! Они не остановятся ни перед чем!</p>
                        <p>Изучите <a href="/rules">правила игры</a> и скорее в путь!</p>
                        <button class="btn btn-outline-secondary btn-lg" onclick="document.location='/game'">На поиски клада</button>
  	                </h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}