{% extends 'base.html' %}
{% block title %}
{{ super() }}
{{ title }}
{% endblock %}
{% block content %}
<!-- Header -->
    <header class="header">
        <div class="overlay">
            <div class="container">
                <div class="description">
                    <h1>Правила игры</h1>
                    <p>При нажатии кнопки "На поиски клада" на главной странице или при переходе на страницу
                        "Новая игра" - формируется новая карта острова сокровищ.</p>
                    <p>При формировании новой карты Ваш герой, лагерь пиратов и клад капитана Флинта распределяются на карте случайным образом.</p>
                    <p>С каждым новым ходом Вам предстоит выбрать направление движения (Север, Юг, Запад, Восток) и
                        указать количество шагов (максимальное количество шагов за один ход равно пяти), которое Вы планируете проделать в данном направлении.
                        Так же Вы можете выбрать опцию "Показать предыдущее положение пиратов" благодаря которой,
                        Вы сможете видеть, где располагался лагерь пиратов в предыдущий ход.
                        При выборе данной опции координаты лагеря пиратов будут меняться каждый ход.
                        Если же не выбирать данную опцию (значение "нет" задаётся по умолчанию), то координаты лагеря пиратов
                        будут меняться через каждые три хода.</p>
                    <p>После нажатия кнопки "Вперёд" Ваш герой будет перемещён на карте на выбранное Вами количество шагов в нужном направлении,
                        но не далее края карты.</p>
                    <p>Если на пути Вашего героя встретится лагерь пиратов - Ваш герой попал в плен к пиратам и Вы проиграли.</p>
                    <p>Если на пути Вашего героя повстречается клад капитана Флинта - Вы выиграли!!!</p>
                    <p> </p>
                    <p>Место, в котором закопан клад на карте не отображается, но Вы можете перейти на страницу
                        "Подсмотреть карту" и увидеть на ней текущее расположение лагеря пиратов и клада. Таким образом Вам будет легче найти клад и
                        не попасть в плен к пиратам, но, на наш взгляд, играть будет менее интересно.</p>
                    <p> </p>
                    <p>Желаем Вам удачи в поисках сокровищ!</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}